@model LoginViewModel

<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="login-form-container">
            <div class="text-center mb-4">
                <img src="~/images/Logo.png" alt="Logo" style="max-width: 150px;">
            </div>
            <h1 class="text-center">Anmelden</h1>
            <form asp-action="DoLogin" class="my-4">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Username" class="control-label">Benutzername</label>
                    <input asp-for="Username" class="form-control" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label">Passwort</label>
                    <input asp-for="Password" type="password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group text-center">
                <button type="submit" class="btn btn-primary btn-lg">
                     <i class="bi bi-box-arrow-in-right"></i> Login
                </button>
            </div>
            </form>
        </div>
    </div>
</div>