@model DashboardViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>Line Chart</title>
</head>
<body>
    <canvas id="myChart"></canvas>
    <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: @Html.Raw(Json.Serialize(Model.Times)),
                datasets: [{
                    label: 'Saldo',
                    data: @Html.Raw(Json.Serialize(Model.Values)),
                    borderColor: 'rgba(0, 0, 150, 1)',
                    borderWidth: 3,
                    fill: false
                }]
            },
            options: {
                scales: {
                    x: [{
                        type: 'time',
                        time: {
                            unit: 'day'
                        },
                        title: {
                            display: true,
                            text: 'Datum'
                        }
                    }],
                    y: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'Saldo'
                        }
                    }]
                }
            }
        });
    </script>
</body>
</html>

