<h1>Es wurden keine Daten von der Datenbank empfangen</h1>

<p>Es könnte ein Fehler mit der Datenbank vorliegen oder ein Fehler mit der Verbindung zur Datenbank</p>

<a href="@Url.Action("Index", "Home")">Zurück zur Übersicht</a>