@model ChangePasswordViewModel

<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="login-form-container">
            <h1 class="text-center">Passwort ändern</h1>
            <form asp-action="SubmitPassword" class="my-4">
                <input type="hidden" asp-for="Username" />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Username" class="control-label">Benutzername</label>
                    <input asp-for="Username" class="form-control" disabled/>
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NewPassword" class="control-label">Neues Passwort</label>
                    <input asp-for="NewPassword" type="password" class="form-control" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="control-label">Passwort bestätigen</label>
                    <input asp-for="ConfirmPassword" type="password" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group text-center">
                <button type="submit" class="btn btn-primary btn-lg">
                     <i class="bi bi-box-arrow-in-right"></i> Passwort speichern
                </button>
            </div>
            </form>
            <div class="text-center mt-3">
                <a asp-controller="User" asp-action="Index" class="btn btn-link">
                    Zurück zur Benutzerübersicht
                </a>
            </div>
        </div>
    </div>
</div>