html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.login-form-container {
    background-color: #f1f2f3;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-form-container h1 {
    margin-bottom: 30px;
}

.household-tiles-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.household-tile {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    cursor: pointer;
    flex-basis: calc(33% - 20px);
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: transform 0.3s ease;
}

.household-tile:hover {
    transform: scale(1.05);
    background-color: #f0f0f0;
}

@media (max-width: 600px) {
    .household-tile {
        flex-basis: calc(50% - 20px);
    }
}

.total-value-display {
    text-align: center;
    margin: 40px 0;
}

    .total-value-display h1 {
        font-size: 2em;
        color: #333; /* Dunkelgrau */
    }

.total-value {
    font-size: 4em;
    font-weight: bold;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

/* Optional: Hover-Effekte */
.btn-custom-edit:hover, .btn-custom-delete:hover, .btn-custom-add:hover {
    opacity: 0.8;
}

.centered-cell {
    text-align: center;
}

.btn {
    display: inline-block; /* Ermöglicht die Zentrierung des Buttons */
}
